<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>
        <ion-icon slot="end" name="settings-outline"></ion-icon>
        Settings
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        Application Notification
      </ion-label>
      <ion-toggle mode="ios" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        Email Notification
      </ion-label>
      <ion-toggle mode="ios" color="warning"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        GO to Chat app
      </ion-label>
      <ion-button color="warning" routerLink="../../home" shape="round">
        &nbsp; &nbsp; <ion-icon name="chatbubbles-outline"> </ion-icon> &nbsp; &nbsp;
      </ion-button>
    </ion-item>
  </ion-list>
  <div class="common">

  </div>
  <ion-card class="ion-no-border cont">
    <ion-card-header>

      <ion-card-title class="ion-text-center">
        Contact us </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center" style="font-size: 11px;">
      If you prefer to use email to contact us, you can send a message to our support team at support@cancerapp.com.
      Please include your name, a detailed description of your issue or question, and any relevant information or
      screenshots that may be helpful for our team to better understand your problem. </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-border cont">
    <ion-card-header>

      <ion-card-title class="ion-text-center">
        About Our Cancer Details and Community Chat App </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center" style="font-size: 11px;">
     

      Our Cancer Details and Community Chat App is a capstone project developed in collaboration with a group of
      talented bio students. Our goal was to create an app that would provide easy access to detailed information about
      various types of cancer, as well as a supportive community where users could engage with one another, share their
      experiences, and offer support and advice.

      Our team of developers, working closely with the bio students, has created a comprehensive database of
      cancer-related information that covers everything from symptoms and risk factors to treatment options and survivor
      stories. The app also includes a robust messaging and chat feature that allows users to connect with others who
      are going through similar experiences.

      As part of our collaboration with the bio students, we have incorporated feedback and insights from leading
      experts in the field of oncology to ensure that our app provides accurate, up-to-date information and resources
      for anyone affected by cancer.

      We are proud to offer this app as a free resource for anyone who may be dealing with cancer, either directly or
      indirectly. Our hope is that by providing easy access to information and fostering a supportive community, we can
      make a positive impact on the lives of those affected by this disease.

      Thank you for choosing our Cancer Details and Community Chat App, and we look forward to hearing your feedback as
      we continue to improve and grow this important resource.
    </ion-card-content>
  </ion-card>
</ion-content>