<ion-content [fullscreen]="true">
  <!-- <ion-spinner color="danger" class="ion-text-center" name="crescent" *ngIf="isLoading"></ion-spinner> -->
  <ion-text class="welcome_msg">
    <h1 class="ion-text-center ">New Member ? </h1>
    <p style="font-size: 12.5px;" color="dark" class="ion-text-center ion-no-margin ion-no-padding ">Create an account to  connect with the community </p>
  </ion-text>
  <form [formGroup]="signupForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="person-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="username" 
          placeholder="Enter Username">
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="email" 
          placeholder="Enter Email Address">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
        <p style="font-size: 10px;" class="error">*Please enter proper Email Address</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input 
          formControlName="password" 
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Enter Password">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
        <p  style="font-size: 10px;" 
          class="error" 
          *ngIf="signupForm.get('password').invalid && signupForm.get('password').errors['required']">
          *Please enter your Password
        </p>
        <p style="font-size: 10px;" 
          class="error" 
          *ngIf="signupForm.get('password').dirty">
          *Password must be of atleast 8 characters
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="12" class="alignItems">
          <div align=left>
            <ion-checkbox></ion-checkbox>
            <ion-note>I accept the policy and terms</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-button *ngIf="!isLoading" color="primary" shape="round" (click)="onSubmit()">Sign Up</ion-button>
      <ion-button fill="clear" *ngIf="isLoading">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-button>
      <p class="signup">
        <ion-note>
          <br> <ion-text color="warning" routerLink="/login" >
            Login </ion-text>
            <ion-text color="secondary" 
            routerLink="../../tabs" >
           / Home </ion-text>
        </ion-note>
      </p>
    </ion-list>
  </form>
</ion-content>