<ion-row>
  <ion-slides [options]="slideOpts1">
    <ion-slide *ngFor="let item of [1,2,3,4]">
      <ion-card class="featured">
        <ion-card-header>
          <img [src]="" />
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              breast cancer
              <p><ion-text color="tertiary">category</ion-text></p>
            </ion-label>
            <ion-text class="price" slot="end" color="primary"><b>₹600</b></ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-row>