<ion-content [fullscreen]="true" >
  <ion-text class="welcome_msg">
    <h1 class="ion-text-center ion-no-margin ion-no-padding  ">Welcome Back</h1>
    <p  color="dark" class="ion-text-center ion-no-margin ion-no-padding ">login to connect with the community </p>
  </ion-text>
  <form [formGroup]="form">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input   
          formControlName="email" 
          placeholder="Enter Email Address">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('email').valid && form.get('email').touched">
        <p class="error">*Please enter proper Email Address</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input 
          formControlName="password" 
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Enter Password">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('password').valid && form.get('password').touched">
        <p 
          class="error" 
          *ngIf="form.get('password').invalid && form.get('password').errors['required']">
          *Please enter your Password
        </p>
        <p 
          class="error" 
          *ngIf="form.get('password').dirty">
          *Password must be of atleast 8 characters
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical ion-no-padding ">
        <ion-col size="3" class="alignItems">
          <div align=left>
            <!-- <ion-checkbox></ion-checkbox> -->
            <!-- <ion-note>Remember me</ion-note> -->
          </div>
        </ion-col>
        <ion-col size="9">
          <div align=right>
            <ion-note color="secondary" style="font-size:12.5px " >Forgot password?</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <br>
      <!-- <ion-button color="primary" shape="round" (click)="onSubmit()">Log In</ion-button> -->
      <ion-button *ngIf="!isLogin" color="secondary"  shape="round" (click)="onSubmit()">
        <span style="color: white;">
          Log In
        </span>
      </ion-button>
      <ion-button fill="clear" *ngIf="isLogin">
        <ion-spinner name="crescent" color="secondary"></ion-spinner>
      </ion-button>
      <p class="signup">
        <ion-note>
          Not a member yet? <br> <ion-text color="warning" routerLink="/login/signup" >
            Sign Up </ion-text>
            <ion-text color="secondary" 
            routerLink="../tabs" >
           / Go Home </ion-text>
        </ion-note>
      </p>
    </ion-list>
    
  </form>
</ion-content>